<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nnsuite.nnstreamer" >

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:extractNativeLibs="true"
        android:largeHeap="true" >
    </application>
</manifest>
