# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more details, visit https://help.github.com/articles/about-codeowners/

# Note that the current version of github.sec.samsung.net does not translate
# @org/team-name (e.g., @STAR/taos-team), even though
# https://help.github.com/articles/about-codeowners/ depicts @org/team-name
# as well as @username format.
# So, We must write all IDs of @STAR/taos-team manually.

# Note that when we migrate this to github.com, we need to rewrite the whole
# entries.

# All members of taos-team are supposed to review each other
*                                             @myungjoo-ham @wook16-song @jinhyuck83-park @jy1210-jung @sewon-oh @hello-ahn @jijoong-moon @geunsik-lim @sangjung-woo

# For /packaging/, reviewers are limited to those who have some RPM packaging experiences
/packaging/                                   @geunsik-lim @sangjung-woo @wook16-song @myungjoo-ham
