Source: nnstreamer
Section: libs
Priority: optional
Maintainer: MyungJoo Ham <myungjoo.ham@samsung.com>
Build-Depends: gcc, cmake, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libglib2.0-dev,
 libgtest-dev,
 debhelper (>=9),
 gstreamer1.0-tools, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good,
 libpng-dev, tensorflow-lite-dev, tensorflow-dev, libcairo2-dev, libopencv-dev, 
 ssat, python, python-numpy
Standards-Version: 3.9.6
Homepage: https://github.com/nnsuite/nnstreamer

Package: nnstreamer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer plugins for Gstreamer
 Gstreamer plugins, "NNStreamer", provides access to nerual network frameworks for media streams

Package: nnstreamer-dev
Architecture: any
Depends: nnstreamer
Description: NNStreamer development package
 Gstreamer plugins, "NNStreamer", provides access to nerual network frameworks for media streams
 This is development package for nnstreamer.
 If you want to develop Android applications with nnstreamer+gstreamer, you need the libnnstreamer.a from this package.
