Source: nnstreamer
Section: libs
Priority: optional
Maintainer: MyungJoo Ham <myungjoo.ham@samsung.com>
Build-Depends: gcc (>=5), ninja-build, meson (>=0.42),
 debhelper (>=9),
 libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libglib2.0-dev,
 gstreamer1.0-tools, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good,
 libgtest-dev, ssat, libpng-dev, libopencv-dev, liborc-0.4-dev,
 python, python-numpy, python3, python3-dev, python3-numpy,
 tensorflow-lite-dev, pytorch,
 tensorflow-dev [amd64 arm64], python2.7-dev, libprotobuf-dev [amd64 arm64 armhf]
Standards-Version: 3.9.6
Homepage: https://github.com/nnsuite/nnstreamer

Package: nnstreamer
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer plugins for Gstreamer
 Gstreamer plugins, "NNStreamer", provides access to neural network frameworks for media streams.

Package: nnstreamer-tensorflow
Architecture: amd64 arm64
Multi-Arch: same
Depends: nnstreamer, tensorflow | tensorflow-dev, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer TensorFlow Support
 This package allows nnstreamer to support tensorflow. Note that users must make sure that they have installed Tensorflow with compatible C-API (recommended to use the same version). However, having different options (e.g., GPU mode) should not affect the compatibility. When we have stable C-API from Tensorflow, we will release corresponding subplugin as well.

Package: nnstreamer-tensorflow-lite
Architecture: any
Multi-Arch: same
Depends: nnstreamer, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer TensorFlow Lite Support
 This package allows nnstreamer to support tensorflow-lite.

Package: nnstreamer-pytorch
Architecture: any
Multi-Arch: same
Depends: nnstreamer, pytorch, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer Pytorch Support
 This package allows nnstreamer to support pytorch.

Package: nnstreamer-python2
Architecture: any
Multi-Arch: same
Depends: nnstreamer, python, python-numpy, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer Python Custom Filter Support (2.7)
 This Package allows nnstreamer to support python custom filters

Package: nnstreamer-python3
Architecture: any
Multi-Arch: same
Depends: nnstreamer, python3, python3-numpy, ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer Python Custom Filter Support (3.x)
 This Package allows nnstreamer to support python custom filters

Package: nnstreamer-dev
Architecture: any
Multi-Arch: same
Depends: nnstreamer
Description: NNStreamer development package
 Gstreamer plugins, "NNStreamer", provides access to neural network frameworks for media streams.
 This is development package for nnstreamer.
 If you want to develop Android applications with nnstreamer+gstreamer, you need the libnnstreamer.a from this package.
