Source: nnstreamer
Section: libs
Priority: optional
Maintainer: MyungJoo Ham <myungjoo.ham@samsung.com>
Build-Depends: gcc, cmake, libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev, libglib2.0-dev,
 libgtest-dev,
 debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.sec.samsung.net/STAR/nnstreamer

Package: nnstreamer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NNStreamer plugins for Gstreamer
 Gstreamer plugins, "NNStreamer", provides access to nerual network frameworks for media streams

Package: nnstreamer-dev
Architecture: any
Depends: nnstreamer
Description: NNStreamer development package
 Gstreamer plugins, "NNStreamer", provides access to nerual network frameworks for media streams
 This is development package for nnstreamer.
