#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ROOT_DIR:=$(shell pwd)
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
export GST_PLUGIN_PATH=${ROOT_DIR}/build/gst/nnstreamer
export NNSTREAMER_CONF=${ROOT_DIR}/build/nnstreamer-test.ini
export NNSTREAMER_FILTERS=${ROOT_DIR}/build/ext/nnstreamer/tensor_filter
export NNSTREAMER_DECODERS=${ROOT_DIR}/build/ext/nnstreamer/tensor_decoder
export NNSTREAMER_CONVERTERS=${ROOT_DIR}/build/ext/nnstreamer/tensor_converter
export PYTHONIOENCODING=utf-8

ifneq ($(filter $(DEB_HOST_ARCH),amd64),)
enable_tf=enabled
else
enable_tf=disabled
endif

%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -rf build

override_dh_auto_configure:
	mkdir -p build
	meson --buildtype=plain --prefix=/usr --sysconfdir=/etc --libdir=lib/$(DEB_HOST_MULTIARCH) --bindir=lib/nnstreamer/bin --includedir=include \
	-Dinstall-example=true -Dtf-support=$(enable_tf) -Dtflite-support=enabled -Dpytorch-support=enabled -Dcaffe2-support=enabled \
	-Dpython2-support=enabled -Dpython3-support=enabled -Denable-capi=true -Denable-edgetpu=true -Denable-tizen=false build

override_dh_auto_build:
	ninja -C build

override_dh_auto_test:
	./packaging/run_unittests_binaries.sh ./tests
	# SKIP CAPI-UnitTest until we fix it. In Launchpad emulator, capi_src.dummy01 and single_invoke01/02 makes errors due to the slugghish issue.
	# cd build && ./tests/tizen_capi/unittest_tizen_capi --gst-plugin-path=. && cd ..
	cd tests && ssat -n && cd ..

override_dh_link:
	dh_link /usr/lib/$(DEB_HOST_MULTIARCH)/gstreamer-1.0/libnnstreamer.so  /usr/lib/$(DEB_HOST_MULTIARCH)/libnnstreamer.so

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp ninja -C build install

override_dh_install:
	dh_install --sourcedir=debian/tmp --list-missing
# Add --fail-missing option after adding *.install files for all subpackages.
