name: Test on RISCV64 Ubuntu 20.04

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_job:
    runs-on: ubuntu-18.04
    name: Build on alpine RISC-V
    steps:
      - uses: actions/checkout@v2.1.0
      - uses: myungjoo/run-on-arch-action@master
        name: Run commands
        id: Build
        with:
          arch: riscv64
          distro: ubuntu20.04
          githubToken: ${{ github.token }}
          run: |
            apt-get -qy update
            apt-get -qy install meson ninja-build libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libglib2.0-dev gstreamer1.0-tools gstreamer1.0-plugins-base gstreamer1.0-plugins-good libgtest-dev libpng-dev libopencv-dev python3 python3-dev python3-numpy pkg-config gcc g++ liblua5.1-dev
            meson build
            ninja -C build
